header {
  display: flex;
  align-items: center;
  height: 60px;
  z-index: 99999999999999;
  margin-bottom: -3px;
  top: 16;
  position: fixed;
  width: calc(100% - 32px);

  .blog-logo .logo {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
  }

  .menu {
    margin: 0;
    padding: 0;
    top: 0;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    height: 100%;

    .menu-item {
      display: inline-block;
      margin-right: 10px;
      align-items: center;
    }

    .menu-item-link {
      font-size: 17px;
      padding: 5px;
      color: #fff;
      text-decoration: none;
    }
  }

  .navbar, .blog-logo {
    margin: 10px 20px;
  }
}

.read .header {
  display: none;
}

@media (max-width: 672px) {
  header {
    .menu {
      top: 80px;
      position: fixed;
      right: 16px;
      height: min-content;
      flex-direction: column;
      width: calc(100% - 32px);;
      background: #fff;
      border-radius: 5px;
      overflow: hidden;
      color: #334155;
      box-shadow: 0 0 20px 0 #00000014;
      .menu-item {
        margin-right: 0;
        padding: 5px 15px;
        width: 100%;
        text-align: center;
        border-top: .5px solid #e9ecef;
        .menu-item-link {
          color: #334155;
        }
      }
    }
  }
  .dark .menu {
    background: #1f2937;
    .menu-item .menu-item-link {
      color: #fff
    }
  }
}
