header {
  display: flex;
  align-items: center;
  background-color: var(--header-bg-color);
  height: 60px;
  z-index: 99999999999999;
  box-shadow: 0 0 32px 0 var(--shadow);
  margin-bottom: -3px;
  top: 0;
  backdrop-filter: blur(4px);
  position: fixed;
  width: 100%;

  .blog-logo .logo {
    color: #AAA;
    font-size: 18px;
    text-decoration: none;
  }

  .menu {
    margin: 0;
    padding: 0;
    top: 0;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    height: 100%;

    .menu-item {
      display: inline-block;
      margin-right: 10px;
      align-items: center;
    }

    .menu-item-link {
      font-size: 17px;
      padding: 5px;
      color: #AAA;
      text-decoration: none;
    }
  }

  .navbar, .blog-logo {
    margin: 10px 20px;
  }
}

.read .header {
  display: none;
}
