.index-background {
  height: 250px;
  width: 100%;
  margin-bottom: -20px;

  h2 {
    transform: translate(-50%, -50%);
    margin: 0;
    position: relative;
    font-weight: normal;
    top: 50%;
    left: 50%;
    width: fit-content;
    z-index: 20;
    color: #334155;
  }
}

.dark .index-background h2 {
  color: #ffffffeb;
}
