.side {
  color: var(--side-color);

  .card {
    padding: 10px;

    .header {
      font-weight: bold;
      font-size: 0.875rem;

      a {
        color: var(--page-info-color);

        i {
          font-style: normal;
        }
      }
      color: var(--page-info-color);
    }

    .body {
      p {
        font-size: 0.875rem;
        word-break: break-all;
        margin: 3px;
      }
    }
  }
}

.side > * {
  margin 8px 0;
}

.read .side {
  display: none;
}
